{% extends 'base.html' %}
{% block content %}
      <div class="card w-100">
        <div class="card-body p-4">
          <div class="mb-4">
            <h5 class="card-title fw-semibold">Recent Blocks</h5>
          </div>
          <ul class="timeline-widget mb-0 position-relative mb-n5">
            {% for alert in context %}
            <li class="timeline-item d-flex position-relative overflow-hidden">
              <div class="timeline-time text-dark flex-shrink-0 text-end">{{ alert.time }}</div>
              <div class="timeline-badge-wrap d-flex flex-column align-items-center">
                <span class="timeline-badge border-2 border border-primary flex-shrink-0 my-8"></span>
                <span class="timeline-badge-border d-block flex-shrink-0"></span>
              </div>
              <div class="timeline-desc fs-3 text-dark mt-n1">{{ alert.message }}</div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>

{% endblock %}