{% extends 'base.html' %}
{% block content %}
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">

        <!-- Logout Button at the top right -->
        {% if current_user.is_authenticated %}
               <div style="position: absolute; top: 20px; right: 20px;">
                         <ul>
                                   <li class="sidebar-item">
                                           <a class="sidebar-link" href="{{ url_for('auth.logout') }}" aria-expanded="false">
                                                   <span>
                                                               <i class="ti ti-login"></i>
                                                   </span>
                                                   <span class="hide-menu">Logout</span>
                                           </a>
                                   </li>
                         </ul>
              </div>
        {% endif %}

    <div
      class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-3">
            <div class="card mb-0 "style="width:500px;margin:-70px">
              <div class="card-body">

                <div class="py-6 px-6 text-center">
                       <h1>Welcome!</h1>
                       <div class="container-fluid">
                            
                           You have successfully logged into your account 
                             
                       </div>
                </div>
                            
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}